body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
    position: relative;
    font-family: 'Poppins', sans-serif; 
}

.header {
    background-color: #fff;
    grid-area: header;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    border-radius: 1rem;
}

.sidebar{
    background-color: #1c1f23;
    grid-area: side;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 20px;
}

.sidebar a{
    margin-top: 40px;
    color: white;
}
.sidebar a:link{
  text-decoration: none;
}

.link{
    display: flex;
    align-items: center;
}

.link2{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
}

.link3{
    display: flex;
    align-items: center;
}



.main{
    background-color: #c3c5ca;
    grid-area: main;
    position: relative;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas: 
    "c1 c2 c3"
    "c4 c4 c4"
    "c4 c4 c4";
}

.card{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.card:nth-child(1){
    grid-area: c1;
}

.card:nth-child(2){
    grid-area: c2;
}

.card:nth-child(3){
    grid-area: c3;
}

.card:nth-child(4){
    grid-area: c4;
}


.sidebar-responsive {
    display: flex !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 200px;
    height: 100%;
    transition: 0.3s all;
}

.open-btn {
    display: none;
}

.close-btn {
    display: none;
}

.logo-title {
    color: white;
    border-color: #1c1f23;
}

.logo-title-2 {
    display: none;
}

.search-box{
    border: none;
    border-radius: 1rem;
    font-size: large; 
    padding: 5px;
}



@media (max-width: 768px) {
    body {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main";
        overflow-x: hidden;
    }
  
    .sidebar {
      display: none;
    }


    .main {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 200px);
      grid-template-areas:
        "c1"
        "c2"
        "c3"
        "c4"
        "c4";
    }

    .open-btn {
        display: block;
    }
    
    .close-btn {
        position: absolute;
        display: block;
        left: 180px;
        color: #fff;
    }

    .link2{
        bottom: 60px;
    }

    .link3{
        display: none;
    }
    
  }

